/*
// Переменные
*/
:root {
    --b-font: 18px;
    --color-black: black;
    --color-gray: rgba(128, 128, 128, 0.8);
    --color-gray-fon: rgba(128, 128, 128, 0.3);
    --color-white: white;
    --color-purp: #9F61AC;
    ;
}



